.books-hero{
  position: relative; height: 60vh; min-height: 420px;
  background-position: center; background-size: cover; background-repeat: no-repeat;
  display:flex; align-items:flex-end; justify-content:center; padding: 3rem 1rem;
   text-align:center; 
}

.books-hero__content{ position:relative; z-index:1; max-width: 800px; }
.books-hero__content h1{ font-family:'Gobold',sans-serif; letter-spacing:.5px; margin:0 0 .5rem; color:#fff;}
.books-hero__content p{ opacity:.9; }
