@use '../variables' as *;

.footer {
  background-color: $color-primary;
  color: $color-white;
  padding: 3rem 1rem 1.5rem;
  text-align: center;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .footer-brand {
      h3 {
        font-family: $font-primary;
        font-size: 1.5rem;
        color: $color-white;
      }

      p {
        font-family: $font-secondary;
        color: rgba($color-white, 0.8);
        font-size: 0.9rem;
      }
    }

    .footer-nav ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @media (min-width: 768px) {
        flex-direction: row;
        gap: 2rem;
      }

      li a {
        font-family: $font-secondary;
        color: $color-white;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $color-secondary;
        }
      }
    }

    .footer-socials {
      display: flex;
      gap: 1.2rem;

      a {
        color: $color-white;
        font-size: 1.5rem;
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
          color: $color-secondary;
          transform: translateY(-3px);
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: rgba($color-white, 0.7);
    p{
        color: $color-secondary;
    }
  }
}
