@use '../variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba($color-white, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba($color-primary, 0.05);
  z-index: 1000;

  .header-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      color: $color-primary;
      text-decoration: none;

      img {
        height: 70px;
        margin-right: 10px;
      }
    }

    nav ul {
      display: flex;
      gap: 2rem;
      list-style: none;

      li {
        a {
          font-family: $font-secondary;
          color: $color-primary;
          text-decoration: none;
          cursor: pointer;
          position: relative;
          transition: color 0.3s ease;

          &:hover {
            color: $color-secondary;
          }

          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -4px;
            left: 0;
            background-color: $color-secondary;
            transition: width 0.3s ease;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}
