@use '../variables' as *;

.hero-section {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  color: $color-white;
  height: 100vh; // ocupa pantalla completa
  background: url('../../assets/img/FondoHeaderMobile.webp') center/cover no-repeat;
  transition: background 0.3s ease;
  padding-bottom: 4rem;
  @media (min-width: 768px) {
    background: url('../../assets/img/FondoHeaderDesktop.webp') center/cover no-repeat;
  }

  .hero-content {
    max-width: 650px;
    padding: 0 1.5rem;

    h1 {
      font-family: $font-primary;
      color: rgba($color-white, 1);
      font-size: 1.8rem;
      line-height: 1.3;
      margin-bottom: 1.5rem;

      @media (min-width: 768px) {
        font-size: 2.5rem;
      }
    }

    p {
      font-family: $font-secondary;
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 2rem;
      color: rgba($color-white, 0.85);

      @media (min-width: 768px) {
        font-size: 1.1rem;
      }
    }

    .cta-button {
      background-color: rgba($color-white, 0.15);
      border: 1px solid rgba($color-white, 0.3);
      color: $color-white;
      font-family: $font-secondary;
      padding: 0.7rem 2.5rem;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background-color: rgba($color-secondary, 0.8);
        border-color: $color-secondary;
      }
    }
  }
}
