@use '../variables' as *;

.pasos-section {
  padding: 5rem 0.6rem;
  padding-bottom: 0 !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 6rem 2rem;
  }

  .pasos-title {
    font-family: $font-primary;
    text-transform: uppercase;
    color: $color-primary;
    font-size: 1.5rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  .pasos-grid {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    width: 100%;
    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
    }

    .paso-card {
        width: 105px;
      .paso-number {
        font-family: $font-secondary;
        color: $color-secondary;
        font-size: 0.8rem;
        letter-spacing: 0.05em;
        font-weight: 800;
      }

      p {
        font-size: 11px;
        font-family: $font-secondary;
        color: rgba($color-text, 0.9);
        line-height: 1.5;
      }
    }
  }
   @media (min-width: 800px) {
    .pasos-grid{
        margin-top: 6rem !important;
        width: 85% !important;
    }
    .paso-card {
        width: 205px !important;
      .paso-number {
        font-family: $font-secondary;
        color: $color-secondary;
        font-size: 1.4rem !important;
        letter-spacing: 0.05em;
        font-weight: 800;
      }

      p {
        font-size: 16px !important;
        font-family: $font-secondary;
        color: rgba($color-text, 0.9);
        line-height: 1.5;
      }
    }
  }
}