@use '../variables' as *;

.trayectoria-section {
  background-color: $color-secondary-dark;
  padding: 5rem 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 6rem 2rem;
  }

  .trayectoria-title {
    font-family: $font-primary;
    text-transform: uppercase;
    color: $color-secondary-darker;
    font-size: 1.6rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      font-size: 2rem;
      max-width: 800px;
    }
  }

  .trayectoria-text {
    font-family: $font-secondary;
    color: $color-white;
    line-height: 1.6;
    max-width: 750px;
    font-size: 1rem;

    @media (min-width: 768px) {
      font-size: 1.1rem;
    }
  }
}
