@use '../variables' as *;

/* Contenedor marrón */
.widget-strip {
  background-color: $color-secondary-dark;
  overflow: hidden; /* ocultar scroll horizontal */
  padding: 1.3rem 0;
}

/* Cinta deslizante */
.strip-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  animation: scroll 20s linear infinite;
  /*velocidadybucle*/-webkit-animation: scroll 18s linear infinite;
  
  -webkit-animation: scroll 20s linear infinite;
  img{
    height: 16px;  /* ajusta según tu logo */
    flex-shrink: 0;
    opacity: 0.9;
  }
}

/* Animación infinita */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* se desplaza la mitad porque está duplicada */
  }
}
