// styles/_typography.scss
@use './variables' as *;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  color: $color-primary;
  line-height: 1.2;
}

p, span, li, a {
  font-family: $font-secondary;
  color: $color-text;
}
