// styles/components/_variables.scss

// Paleta de colores
$color-primary: #1A3B5E;
$color-secondary: #DBBB97;
$color-light: #E5E7F4;
$color-white: #ffffff;
$color-text: #10253b;
$color-background: #ffffff;

// Tipografías
$font-primary: 'Gobold', sans-serif; 
$font-secondary: 'Poppins', sans-serif; 


