// Abstractions (variables, mixins y funciones)
@use './variables' as *;
@use './fonts';

// Base styles
@use './reset';
@use './typography';

//componentes
@use './components/header';
@use './components/footer';
@use './components/serviciosSection';
@use './components/sobreMiSection';
@use './components/sobreMiModal';
