// Abstractions (variables, mixins y funciones)
@use './variables' as *;
@use './fonts';

// Base styles
@use './reset';
@use './typography';

//componentes
@use './components/header';
@use './components/footer';
@use './components/serviciosSection';
@use './components/heroSection';
@use './components/objetivosSection';
@use './components/trayectoriaSection';
@use './components/serviciosFinancieros';
@use './components/widgetStrip';
@use './components/pasosSection';
@use './components/idealSection';
@use './components/contactForm';
